<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Results </title>
</head>
<style>
  {{styles}}
</style>
<body>
    <h1>Relatorio</h1>
    <p>Teste Relatorio ENADE</p>
    <table>
        <tr>
            {% for col in cols %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for row in table %}
            <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

</body>
</html>
