<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Relatório ENADE </title>
  <style>
    {{ css }}
  </style>
</head>
<body>
    <div class="header_left_logo">

    </div>

    <div class="header_right_country">

    </div>

    <div class="footer_left_pages">

    </div>

    <div class="footer_right_time">

    </div>


    <div class="capa">
        <h1>
            Relatório ENADE
        </h1>
        <img src={{ cover_image }} alt= "CAPA">
    </div>

    <div class="tabela-de-conteudos">
        <h1>
            Tabela de Conteúdos
        </h1>
    </div>

    <div class="relatorio">
        <h1> Relatório ENADE </h1>
        <p>
            Prezados gestores,
            <br/>
            <br/>
            Segue análise do resultado do ENADE 2021.
            <br/>
            <br/>
            <br/>
            <br/>
        </p>
        <table>
            <thead>
                <tr>
                    {% for col in cols %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in table %}
                <tr>
                    {% for value in row %}
                        {% if value is float %}
                            <td>{{ "%.2f" % value }}</td>
                        {% else %}
                            <td> {{ value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
