@page{
  size: A4;
  margin: 5%;

  @bottom-left{
    content: element(footer_left_pages);
  }

  @bottom-right{
    content: element(footer_right_time);
  }
}

.footer_left_pages, .footer_right_time{
  display: block;
}

.footer_left_pages{
  position: running(footer_left_pages);
  content: counter(page) " de " counter(pages);
  font-size: 10px;
  text-align: left;
}

.footer_right_time{
  position: running(footer_right_time);
  content: "{{ report_time }}";
  font-size: 10px;
  text-align: right;
}


body{
  font-size: 14px;
}

.capa{
  page: capa;
  page-break-after: always;
}

.capa img{
  width: 100%;
  height: auto;
  display: block;
}

.capa h1{
  text-align: center;
  margin-bottom: 10%;
}

@page capa{

}

.tabela-de-conteudos{
  page: tabela-de-conteudos;
  page-break-after: always;
}

.tabela-de-conteudos h1{
  text-align: right;
  border-top: black solid 1px;
}

@page tabela-de-conteudos{

}

.relatorio{
  page: relatorio;
}

.relatorio h1{
  text-align: center;
  margin-bottom: 10%;
  border-bottom: black solid 0.5px;
}

@page relatorio{
  @top-left{
    content: element(header_left_logo);
  }

  @top-right{
    content: element(header_right_country);
  };
}

.header_left_logo, .header_right_country{
  display: block;
  height: 30px;
  width: 60px;
  background-repeat: no-repeat;
  background-size: contain;
}

.header_left_logo{
  position: running(header_left_logo);
  background-position: left top;
  background-image: url("{{ logo_image }}");
}

.header_right_country{
  position: running(header_right_country);
  background-position: right top;
  background-image: url("{{ brasil_image }}");
}

table{
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

thead{
  display: table-header-group;
}

table, th, td {
  border: 1px solid black;
}

tr{
  break-inside: avoid;
}

th, td{
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

th{
  background-color: #04AA6D;
  color: white;
  font-size: 12px;
}

td{
  font-size: 10px;
}
