*{
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

@page{
  margin-top: 5%;
  size: A4;
  @bottom-left{
    content: counter(page) " de " counter(pages);
    font-size: 10px;
    text-align: left;
    display: block;
  };

  @bottom-right{
    content: "13/06/2024";
    font-size: 10px;
    text-align: right;
    display: block;
  };
}

body{
  font-size: 14px;
}

.capa{
  page: capa;
  page-break-after: always;
}

.capa img{
  width: 100%;
  height: auto;
  display: block;
}

.capa h1{
  text-align: center;
  margin-bottom: 10%;
}

@page capa{

}

.tabela-de-conteudos{
  page: tabela-de-conteudos;
  page-break-after: always;
}

.tabela-de-conteudos h1{
  text-align: right;
}

@page tabela-de-conteudos{

}

.relatorio{
  page: relatorio;
}

.relatorio h1{
  text-align: center;
  margin-bottom: 10%;
}

@page relatorio{
  @top-right{
    content: "Relatório ENADE";
    font-size: 10px;
    text-align: left;
    display: block;
  };

  @top-left{
    content: "";
    display: block;
    height: 60px;
    width: 100px;
    background-image: {{image}};
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
}

table{
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

table, th, td {
  border: 1px solid black;
}

th, td{
  text-align: center;
  vertical-align: middle;
  padding-bottom: 10px;
  padding-top: 10px;
}

th{
  background-color: #04AA6D;
  color: white;
}
